[Unit]
Description=Fertiriego
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=3
User=pi
ExecStart=/usr/bin/env python3 /home/pi/fertiriego/main.py

[Install]
WantedBy=multi-user.target